body{
  margin: 0;
}

.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(#b89775 ,#0f1175)
}

.noseGrow {
  background-image: radial-gradient(#e0f0ff, #003b88);
}