@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,800&display=swap");
@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Cafe24Ohsquare';
}

ul, li, a {
  text-decoration: none;
  font-family: 'Work Sans';
  color: #F8F8F8;
  list-style: none;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #363471), to(#09090e)) fixed no-repeat;
  background: linear-gradient(0deg, #363471 60%, #09090e 100%) fixed no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  font-size: 16px;
  padding: 40px 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container .logo {
  background: url("../resources/logo2.svg") no-repeat 50% 50%;
  background-size: cover;
  width: 40px;
  height: 40px;
  position: relative;
}

.container .hero {
  width: 100%;
  position: relative;
  top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F8F8F8;
}

.container .hero .moonImg {
  background: url(../resources/moon.svg) no-repeat 50% 50%;
  opacity: .5;
  background-size: cover;
  width: 900px;
  height: 900px;
  position: fixed;
  top: 45%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
}

.container .hero h1 {
  display: block;
  font-size: 6rem;
  z-index: 2;
  user-select: none;
}

.container .hero p {
  display: block;
  font-size: 3.5rem;
  font-weight: 100;
  z-index: 2;
  user-select: none;
}

.container .hero .workLink {
  font-size: 1rem;
  font-weight: 100;
  position: fixed;
  bottom: 100px;
  z-index: 2;
  user-select: none;
}

@media only screen and (max-width: 900px) {
  .container .hero h1 {
    font-size: 5rem;
  }
  .container .hero p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 680px) {
  #c {
    width: 100vw;
    height: 300px;
    top: 35%;
  }
  .container {
    padding: 25px 25px;
  }
  .container .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 20px;
  }
  .container .hero {
    margin-top: 100px;
  }
  .container .hero .moonImg {
    width: 350px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -2;
  }
  .container .hero h1 {
    font-size: 2.5rem;
  }
  .container .hero p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */
